<h1>To Do</h1>
<form [formGroup]="form" (ngSubmit)="onAdd()">
    <div class="form-group">
        <label for="description">Description: </label>
        <input type="text" placeholder="Enter Description" id="description" formControlName="description">
    </div>
    <div class="form-group">
        <label for="priority">Priority: </label>
        <input type="radio" name="priority" value="high" id="high" formControlName="priority"><label for="high">High</label> 
        <input type="radio" name="priority" value="medium" id="medium" formControlName="priority"><label for="medium">Medium</label>
        <input type="radio" name="priority" value="low" id="low" formControlName="priority"><label for="low">Low</label>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Due: </mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" disabled formControlName="due">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled=false></mat-datepicker>
        </mat-form-field>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Add</button>
</form>
